*{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}
.container{
	background-color:black ;
	padding: 10px;
	width: 270px;
	
	
}
.orange{
	background: rgb(255,177,20);
background: linear-gradient(90deg, rgba(255,177,20,1) 35%, rgba(241,114,2,1) 100%);

}
.green{
	background: rgb(153,255,20);
background: linear-gradient(90deg, rgba(153,255,20,1) 35%, rgba(2,203,52,1) 100%);

}
.blue{
	background-color: blue;
}
.perple{
	background-color: blueviolet;
}
.child{
	color:white;
	width: 200px;
	padding: 15px 20px;
	margin: 10px 20px 10px;
	text-align: center;
	border:1px solid white;
	
}